<% var title = "TOP"; var description = "トップのdescription"; %> <% include
src/ejs/template/_head %>
<center>
<div class="wrapper">
          <header>
          <div  class="head"></div>
          </header>
          <main>
          <div class="main-head">
                    <div class="logo"></div>
                    <ul class="menu">
                              <li><a href="#">ホーム</a></li>
                              <li><a href="#">自己紹介</a></li>
                              <li><a href="#">写真</a></li>
                              <li><a href="#">お問い合わせ</a></li>
                    </ul>
          </div>
          <img class="main-img-1">
          <h1>世界中を旅するフォトグラファーです。<h1>
          <div class="ownself-wrapper">
                    <div class="new-photo">
                              <h2>最新の写真</h2>
                              <table>
                                        <tr>
                                                  <td><img class="new-photo-1"></td>
                                                  <td><img class="new-photo-2"></td>
                                                  <td><img class="new-photo-3"></td>
                                        </tr>
                                        <tr>
                                                  <td><img class="new-photo-4"></td>
                                                  <td><img class="new-photo-5"></td>
                                                  <td><img class="new-photo-6"></td>
                                        </tr>
                              </table>
                    </div>
                    <div class="ownself">
                              <h2>自己紹介</h2>
                              <section>
                              <p>こんにちは。Kanaです。世界中を旅しながら写真を撮っています。</p>
                              <p><a href="#">Facebook</a>や<a href="#">Twitter</a>やってます。</p>
                              <p>お気軽にフォローしてください！</p>
                              <p><a href="#">ブログ</a>もチェックしてみてください。これはデモサイトです。実際は写真苦手です。頑張ります！</p>
                              <p>こんにちは。Kanaです。世界中を旅しながら写真を撮っています。</p>
                              <p><a href="#">Facebook</a>や<a href="#">Twitter</a>やってます。</p>
                              <p>お気軽にフォローしてください！</p>
                              <p><a href="#">ブログ</a>もチェックしてみてください。これはデモサイトです。実際は写真苦手です。頑張ります！</p>
                              </section>
                    </div>
          </div>
          </main>
          <footer>
                    <div class="footer">
                              <div class="border">
                                        <small>By <span class="underline">Kana</span><br><p class="small"><span class="letter-space">©<span class="size"> 2021 <span class="underline">Web Creator Box</span></span></span></p></small>
                              </div>
                    </div>
          </footer>
</div>
</center>
<% include src/ejs/template/_footer %>
