.footer {
	small {
		font-size: 0.80vw;
	}
	margin-top: 8vw;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	background-color: #669ACD;
	width: 17vw;
	height: 7vw;
}
.small {
	transform: scale(0.6);
}
.letter-space {
	letter-spacing: 0.02vw;
}
.size {
	width: 16vw;
	font-size: 1.22vw;
}
.underline {
	text-decoration: underline;
}

.border {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 16vw;
	height: 6vw;
	border: solid 0.1vw white;
}