/*  共通  */

.background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.flex-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img {
    object-fit: cover;
}
