/*  タブレットスタイル  */

@media screen and (min-width: 769px) and (max-width: 1100px) {
    .display-Phone {
        display: none;
    }

    .display-br {
        display: none;
    }

    /*  ヘッダー・サイドバー  */
    .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 10vw;
        box-shadow: 0.2vw 0.2vw 0.5vw gray;
    }

    .bg-color-man1 {
        background-color: #80d0ff;
    }
    .bg-color-man2 {
        background-color: #50a0ff;
    }

    .bg-color-woman1 {
        background-color: pink;
    }

    .bg-color-woman2 {
        background-color: palevioletred;
    }

    .image {
        margin-left: 1.8vw;
        object-fit: cover;
        width: 8vw;
        height: 8vw;
        border-radius: 50%;
    }

    .display-Tablet {
        word-break: break-all;
        line-height: 1.8vw;
        border-radius: 0.5vw;
        text-align: center;
        margin-right: 1.8vw;
        min-width: 15vw;
        max-width: 27vw;
        height: 8.5vw;
        background-color: rgba(255,255,255,0.7);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .display-Tablet .header-right {
        margin-top: 0;
        min-width: 10vw;
        min-height: 4vw;
        max-height: 7vw;
        margin-right: 1vw;
        margin-left: 1vw;
    }

    .display-Tablet .header-right p {
        margin-top: 0;
        margin-bottom: 0.5vw;
        font-size: 1.65vw;
    }

    .display-Tablet button {
        font-size: 1.3vw;
        cursor: pointer;
        background: none;
        border: none;
        text-decoration: underline;
    }

    .status {
        display: flex;
        justify-content: start;
        align-items: center;
        word-break: keep-all;
        margin-left: 1.8vw;
        min-height: 8vw;
        max-height: 8.5vw;
        font-size: 1.1vw;
        background-color: rgba(255,255,255,0.7);
        border-radius: 0.5vw;
    }

    .status p {
        line-height: 0.7vw;
        font-size: 1.1vw;
        margin-left: 1vw;
        margin-right: 1vw;
    }

    .side-bar-wrapper {
        position: absolute;
        top: 0vw;
        left: 0vw;
        width: 15vw;
        height: 100%;
        display: flex;
        justify-content: center;
        border-right: solid 1px gray;
    }

    .side-bar-wrapper .margin {
        margin-top: 12vw;
    }

    .side-bar-change-button {
        cursor: pointer;
        font-size: 3vw;
        color: white;
        position: absolute;
        top: 11.5vw;
        left: 10.5vw;
        width: 4vw;
        height: 4vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .side-bar-PC {
        border-top: solid 1px white;
        margin-top: 4vw;
    }

    .side-bar-PC .border-bottom {
        width: 15vw;
        height: 5vw;
        border-bottom: solid 1px white;
    }

    .side-bar-PC .border-bottom:hover {
        transition: .5s;
        background-color: rgba(255,255,255,0.7);
    }

    .side-bar-PC button {
        color: white;
        width: 15vw;
        height: 5vw;
        font-size: 1.5vw;
        background: none;
        border: none;
    }
    .side-bar-PC button:hover {
        transition: .5s;
        color: black;
    }
    .side-bar-wrapper .info-mark {
        position: absolute;
        margin-left: -4vw;
        margin-top: 1vw;
        background-color: red;
        border-radius: 50%;
        width: 1vw;
        height: 1vw;
        opacity: 0;
    }

    /*  メインコンテンツ  */

    h1 {
        font-size: 4vw;
    }

    h2 {
        font-size: 3vw;
    }

    textarea {
        resize: none;
        outline: none;
    }
    input {
        outline: none;
    }

    .main-content-position {
        position: absolute;
        display: flex;
        justify-content: center;
        text-align: center;
        top: 10vw;
        left: 17vw;
    }

    .main-content-wrapper {
        position: relative;
        margin-top: 30px;
        margin-bottom: 200px;
    }

    .btn-color-man {
        border-color: #50a0ff;
        background-color: #50a0ff;
    }

    .btn-color-woman {
        border-color: palevioletred;
        background-color: palevioletred;
    }

    /*  掲示板  */

    .board-text {
        font-size: 2vw;
        width: 45vw;
        height: 30vw;
        margin-bottom: 4vw;
    }

    .btn-post {
        color: white;
        width: 17vw;
        height: 5vw;
        font-size: 2vw;
        border-radius: 1vw;
        margin-bottom: 10vw;
    }

    .bullentin-board-wrapper {
        margin-bottom: 7vw;
    }

    .bullentin-board-wrapper .date {
        margin-bottom: -1vw;
    }

    .bullentin-board-wrapper button {
        margin-bottom: -2.4vw;
        font-size: 2vw;
        color: white;
        width: 10vw;
        height: 4vw;
        border-radius: 7px;
    }

    .text-wrapper {
        font-size: 2vw;
        background-color: rgba(255,255,255,0.7);
        border-radius: 1.5vw;
        box-shadow: 2px 2px 4px gray;
    }
    .text-wrapper p {
        font-size: 2vw;
        text-align: left;
        word-break: break-all;
        max-width: 45vw;
        padding: 3vw;
    }

    .date {
        font-size: 1.8vw;
    }

    /*  チャット  */

    .chat-history-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .chat-history-page-btn-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3vw;
    }

    .info-chat-room {
        font-size: 1.5vw;
    }

    .chat-history-page-btn-wrapper p {
        margin-left: 3vw;
        margin-right: 3vw;
    }

    .chat-history-page-btn-wrapper button {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3vw;
        border-radius: 50%;
        width: 5vw;
        height: 5vw;
        color: white;
    }

    .chat-room-wrapper {
        font-size: 2vw;
        width: 70vw;
        background-color: white;
        box-shadow: 2px 2px 4px gray;
        margin-bottom: 20px;
        margin-left: 1.5vw;
        margin-right: 1.5vw;
        border-radius: 1vw;
    }

    .chat-room-wrapper .padding {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2vw;
    }

    .chat-room-wrapper .flex {
        display: flex;
        align-items: center;
    }

    .chat-room-wrapper img {
        margin-right: 1vw;
        width: 7vw;
        height: 7vw;
        border-radius: 50%;
    }

    .chat-room-wrapper .chat-not-read-counter {
        margin-left: 1.5vw;
    }

    .chat-room-wrapper button {
        font-size: 2vw;
        color: white;
        margin-left: 1.5vw;
        border-radius: 5px;
    }

    .chat-wrapper {
        border-radius: 20px;
        width: 70vw;
        min-height: 55vw;
        background-color: white;
        box-shadow: 2px 2px 4px gray;
    }
    .chat-wrapper .padding {
        padding: 20px;
    }

    .chat-wrapper .message-wrapper {
        margin-bottom: 0px;
    }

    .chat-wrapper .message-wrapper img {
        width: 7vw;
        height: 7vw;
        border-radius:  50%;
    }

    .chat-wrapper .text-align-right {
        text-align: right;
    }

    .chat-wrapper .text-align-left {
        text-align: left;
    }

    .chat-wrapper .message-wrapper .text-1 {
        font-size: 2vw;
        text-align: left;
        margin-top: 3vw;
        color: white;
        padding: 1vw;
        display: inline-block;
        box-sizing: border-box;
        max-width: 70vw;
        word-break: break-all;
        box-shadow: 2px 2px 4px gray;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        margin-left: 1vw;
        margin-right: 1vw;
    }

    .chat-wrapper .message-wrapper .read {
        text-align: right;
        font-size: 1vw;
        margin-top: -2vw;
        margin-bottom: -1vw;
    }
    .chat-wrapper .message-wrapper .time {
        font-size: 1vw;
        margin-bottom: 1.5vw;
    }

    .chat-wrapper .message-wrapper .text-2 {
        font-size: 2vw;
        text-align: left;
        margin-top: 3vw;
        padding: 1vw;
        display: inline-block;
        box-sizing: border-box;
        max-width: 70vw;
        word-break: break-all;
        box-shadow: 2px 2px 4px gray;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        margin-left: 1vw;
        margin-right: 1vw;
    }

    .chat-form-wrapper {
        border-top: solid 1px gray;
        width: 90%;
        position: fixed;
        bottom: 0px;
        left: 10.5vw;
    }

    .chat-form-wrapper .chat-area-wrapper {
        margin-top: 2vw;
        margin-bottom: 2vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .chat-area-wrapper textarea {
        font-size: 1.8vw;
        width: 50vw;
        margin-left: 2vw;
        margin-right: 1vw;
    }

    .chat-area-wrapper button {
        color: white;
        font-size: 2vw;
        border-radius: 0.5vw;
    }

    .chat-area-wrapper div button {
        margin-left: 1vw;
        margin-right: 0vw;
    }

    /*  ユーザー検索  */

    .search-box-form {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }

    .search-box-form input {
        font-size: 2vw;
        width: 25vw;
        height: 3vw;
        margin-right: 1vw;
    }

    .search-box-form button {
        font-size: 2vw;
    }

    .search-box-form select {
        text-align: center;
        width: 10vw;
        height: 3.8vw;
        margin-right: 10px;
        font-size: 2vw;
    }

    .search-user-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .search_user_list_wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .search-user-wrapper .user-status-form {
        display: flex;
        flex-wrap: wrap;
    }

    .search-user-wrapper .button-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .search-user-wrapper .button-wrapper .margin {
        display: flex;
        margin-top: 50px;
        margin-left: 50px;
    }

    .search-user-wrapper .button-wrapper button {
        border-radius: 10px;
        font-size: 20px;
        color: white;
        width: 120px;
        height: 50px;
    }

    .search-user-wrapper .margin-top {
        text-align: center;
        margin-top: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .search-user-wrapper .page-search {
        font-size: 3vw;
        margin-left: 3vw;
        margin-right: 3vw;
    }

    .search-user-wrapper .btn-change-page {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3vw;
        color: white;
        border-radius: 50%;
        width: 5vw;
        height: 5vw;
    }

    .search-user-wrapper .button-wrapper .btn-favorite {
        margin-left: 40px;
        width: 200px;
    }

    .search-user-wrapper p {
        font-size: 17px;
    }

    .search-user-wrapper .user-status-form button {
        border-radius: 10px;
        margin: 20px;
        width: 200px;
        height: 330px;
    }

    .search-user-wrapper form button img {
        border-radius: 50%;
        width: 90px;
        height: 90px;
    }

    .detail-data-wrapper {
        border-radius: 2vw;
        width: 70vw;
        background-color: white;
        box-shadow: 2px 2px 4px gray;
    }

    .detail-data-wrapper .flex {
        display: flex;
        justify-content: center;
    }

    .detail-data-wrapper p {
        max-width: 65vw;
        word-break: break-all;
        font-size: 2vw;
    }

    .detail-data-wrapper img {
        border-radius: 50%;
        width: 20vw;
        height: 20vw;
    }

    .detail-data-wrapper .text-align {
        text-align: center;
    }

    .detail-data-wrapper .padding {
        display: flex;
        justify-content: center;
        text-align: left;
        padding-top: 5vw;
        padding-bottom: 5vw;
    }

    .detail-data-wrapper .button-wrapper button {
        margin-right: 0vw;
        width: 12vw;
        height: 5vw;
        font-size: 2vw;
    }

    .detail-data-wrapper .button-wrapper .btn-favorite {
        width: 21vw;
    }

    .detail-data-wrapper .button-wrapper .margin {
        margin-top: 5vw;
    }

    .detail-data-wrapper .btn-return {
        margin-top: 5vw;
        text-align: center;
    }

    .detail-data-wrapper .btn-return button {
        border-radius: 1vw;
        font-size: 2vw;
        width: 12vw;
        height: 5vw;
        color: white;
    }

    .search-user-wrapper .user-bullentin-wrapper {
        margin-bottom: 0px;
    }

    .search-user-wrapper .user-bullentin button {
        border-radius: 1vw;
        font-size: 2vw;
        color: white;
        width: 12vw;
        height: 5vw;
    }

    .search-user-wrapper .user-bullentin-wrapper {
        margin-bottom: 8vw;
    }

    .user-bullentin-wrapper p {
        font-size: 2vw;
        text-align: left;
        margin-bottom: 0vw;
    }

    .search-user-wrapper .user-bullentin-text-wrapper {
        background-color: white;
        border-radius: 1vw;
        width: 45vw;
        box-shadow: 2px 2px 4px gray;
    }

    .user-bullentin-wrapper .padding {
        font-size: 2vw;
        word-break: break-all;
        max-width: 45vw;
        text-align: left;
        padding: 3vw;
    }

    .user-list-wrapper {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .user-list-wrapper .flex-wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .list-data-wrapper {
        width: 70vw;
        background-color: white;
        border-radius: 10px;
        box-shadow: 2px 2px 4px gray;
        font-size: 2vw;
        margin-left: 1.5vw;
        margin-right: 1.5vw;
        margin-bottom: 3vw;
    }

    .list-data-wrapper .padding {
        padding: 1.5vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .list-data-wrapper .flex {
        display: flex;
        align-items: center;
    }

    .list-data-wrapper img {
        margin-right: 10px;
        border-radius: 50%;
        width: 8vw;
        height: 8vw;
    }

    .list-data-wrapper button {
        margin-left: 1.5vw;
        border-radius: 0.6vw;
        font-size: 1.5vw;
        color: white;
        width: 9vw;
        height: 4vw;
    }

    .list-page-btn-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .list-page-btn-wrapper .page-list {
        font-size: 3vw;
        margin-left: 3vw;
        margin-right: 3vw;
    }

    .list-page-btn-wrapper .btn-change-page {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3vw;
        color: white;
        border-radius: 50%;
        width: 5vw;
        height: 5vw;
    }

    .list-user-bullentin .user-bullentin-wrapper {
        margin-bottom: 6vw;
    }

    .list-user-bullentin button {
        color: white;
        width: 12vw;
        height: 5vw;
        font-size: 2vw;
        border-radius: 1vw;
    }

    .list-user-bullentin .user-bullentin-text-wrapper {
        width: 45vw;
        border-radius: 10px;
        background-color: white;
        box-shadow: 2px 2px 4px gray;
    }

    .detail-data-wrapper .button-wrapper-list {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .detail-data-wrapper .button-wrapper-list .flex-PC {
        display: flex;
    }

    .button-wrapper-list button {
        color: white;
        margin-left: 1vw;
        margin-right: 1vw;
        width: 12vw;
        height: 5vw;
        border-radius: 10px;
        font-size: 2vw;
    }

    .button-wrapper-list .margin {
        margin-top: 5vw;
    }

    /*  設定  */
    .btn-wrapper {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 75vw;
    }

    .btn-wrapper button {
        font-size: 2.5vw;
        border-radius: 1vw;
        width: 30vw;
        height: 20vw;
        margin: 3vw;
    }

    .personal-data-wrapper {
        font-size: 2vw;
        background-color: rgba(255,255,255,0.7);
        border-radius: 10px;
        width: 70vw;
        box-shadow: 2px 2px 4px gray;
    }

    .personal-data-wrapper img {
        border-radius: 50%;
        width: 20vw;
        height: 20vw;
    }

    .personal-data-wrapper p {
        text-align: left;
        word-break: break-all;
        max-width: 65vw;
    }

    .personal-data-wrapper button {
        margin-top: 2vw;
        font-size: 2vw;
        color: white;
        width: 12vw;
        height: 5vw;
        border-radius: 1vw;
    }
    .personal-data-wrapper .padding {
        padding-top: 3vw;
        padding-bottom: 6vw;
    }

    .change-data-wrapper {
        display: flex;
        justify-content: center;
        margin-bottom: 5vw;
        font-size: 2vw;
        width: 75vw;
        background-color: rgba(255,255,255,0.7);
        border-radius: 1vw;
        box-shadow: 2px 2px 4px gray;
    }

    .change-data-wrapper .display-Phone-setting {
        display: none;
    }

    .change-data-wrapper table {
        width: 70vw;
        height: 70vw;
    }

    .change-data-wrapper .authentication select {
        margin-right: 5vw;
    }

    .change-data-wrapper .margin {
        margin-top: 3vw;
        margin-bottom: 3vw;
    }

    .change-data-wrapper button {
        margin-left: 1vw;
        margin-right: 1vw;
        font-size: 2vw;
        color: white;
        width: 7vw;
        height: 4vw;
        border-radius: 0.5vw;
    }

    .change-data-wrapper form button {
        margin-top: 6vw;
        font-size: 2vw;
        color: white;
        width: 12vw;
        height: 5vw;
        border-radius: 1vw;
    }

    .change-data-wrapper input {
        font-size: 2vw;
        width: 40vw;
    }

    .change-data-wrapper .change-address-form-wrapper {
        display: flex;
        margin-left: 30px;
    }

    .change-data-wrapper .change-address-2-PC {
        width: 20vw;
        margin-left: 5vw;
    }

    .change-data-wrapper select {
        text-align: center;
        font-size: 2vw;
        width: 10vw;
    }

    .change-data-wrapper .padding {
        padding-top: 40px;
        padding-bottom: 70px;
    }

    .change-password-wrapper {
        width: 75vw;
        background-color: rgba(255,255,255,0.7);
        border-radius: 1vw;
        box-shadow: 2px 2px 4px gray;
    }

    .change-password-wrapper .padding {
        padding-top: 4vw;
        padding-bottom: 5vw;
    }

    .change-password-wrapper input {
        margin-bottom: 2vw;
        font-size: 2vw;
        width: 50vw;
        height: 3vw;
    }

    .change-password-wrapper button {
        margin-top: 2vw;
        font-size: 2vw;
        color: white;
        width: 12vw;
        height: 5vw;
        border-radius: 1vw;
    }

    .alert {
        margin-top: 0vw;
        margin-bottom: 0vw;
        font-size: 1.8vw;
        color: red;
    }

    @-moz-document url-prefix() {
        .bullentin-board-wrapper button {
            margin-bottom: -1.7vw;
        }
    }

    _:lang(x)+_:-webkit-full-screen-document, .bullentin-board-wrapper button {
        margin-bottom: -1vw;
    }
}