/*  PCスタイル  */

@media screen and (min-width: 1100px) {
    .display-br {
        display: none;
    }

    button {
        cursor: pointer;
    }
    /*  ヘッダー・サイドバー  */

    .display-Phone {
        display: none;
    }
    .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100px;
        box-shadow: 1px 1px 5px gray;
    }

    .bg-color-man1 {
        background-color: #80d0ff;
    }
    .bg-color-man2 {
        background-color: #50a0ff;
    }

    .bg-color-woman1 {
        background-color: pink;
    }

    .bg-color-woman2 {
        background-color: palevioletred;
    }

    .image {
        margin-left: 20px;
        object-fit: cover;
        width: 80px;
        height: 80px;
        border-radius: 50%;
    }

    .display-PC {
        word-break: break-all;
        line-height: 18px;
        border-radius: 5px;
        text-align: center;
        margin-right: 20px;
        min-width: 150px;
        max-width: 290px;
        height: 85px;
        background-color: rgba(255,255,255,0.7);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .display-PC .header-right {
        min-width: 100px;
        height: 100%;
        margin-right: 10px;
        margin-left: 10px;
    }

    .display-PC .btn-color-man-header:hover {
        transition: .5s;
        color: white;
        border-radius: 5px;
        background-color: #50a0ff;
    }

    .display-PC .btn-color-woman-header:hover {
        transition: .5s;
        color: white;
        border-radius: 5px;
        background-color: palevioletred;
    }

    .header-right p {
        margin-bottom: 10px;
        font-size: 18px;
    }

    .display-PC button {
        font-size: 16px;
        background: none;
        border: none;
    }

    .status {
        display: flex;
        justify-content: start;
        align-items: center;
        word-break: keep-all;
        margin-left: 20px;
        height: 85px;
        font-size: 12px;
        background-color: rgba(255,255,255,0.7);
        border-radius: 5px;
    }

    .status p {
        line-height: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .side-bar-wrapper {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 200px;
        height: 100%;
        display: flex;
        justify-content: center;
        border-right: solid 1px gray;
    }

    .side-bar-wrapper .margin {
        margin-top: 110px;
    }

    .side-bar-wrapper .info-mark {
        position: absolute;
        margin-left: -55px;
        margin-top: 10px;
        background-color: red;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        opacity: 0;
    }

    .side-bar-change-button {
        cursor: pointer;
        font-size: 30px;
        color: white;
        position: absolute;
        top: 107px;
        left: 148px;
        width: 50px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .side-bar-change-button:hover {
        transition: .5s;
        color: black;
        background-color: rgba(255,255,255,0.7);
        border-radius: 50%;
    }

    .side-bar-PC {
        border-top: solid 1px white;
        margin-top: 50px;
    }

    .side-bar-PC .border-bottom {
        overflow: hidden;
        width: 200px;
        border-bottom: solid 1px white;
    }

    .side-bar-PC .border-bottom:hover {
        transition: .5s;
        background-color: rgba(255,255,255,0.7);
    }

    .side-bar-PC form {
        margin-bottom: 0;
        margin-top: 0;

    }

    .side-bar-PC button {
        overflow: hidden;
        color: white;
        width: 200px;
        height: 55px;
        font-size: 20px;
        background: none;
        border: none;
    }
    .side-bar-PC button:hover {
        transition: .5s;
        color: black;
    }

    /*  メインコンテンツ  */
    h2 {
        font-size: 30px;
    }
    textarea {
        resize: none;
        outline: none;
    }
    input {
        outline: none;
    }

    .main-content-position {
        position: absolute;
        display: flex;
        justify-content: center;
        text-align: center;
        top: 100px;
        left: 200px;
        width: 89.5%;
    }

    .main-content-wrapper {
        position: relative;
        margin-top: 30px;
        margin-bottom: 200px;
    }
    .main-content-wrapper h1 {
        font-size: 40px;
    }
    /*  掲示板  */

    .board-text {
        font-size: 20px;
        width: 500px;
        height: 300px;
        margin-bottom: 50px;
    }

    .btn-post {
        color: white;
        width: 200px;
        height: 50px;
        font-size: 22px;
        border-radius: 10px;
        margin-bottom: 100px;
    }

    .btn-color-man {
        border-color: #50a0ff;
        background-color: #50a0ff;
    }

    .btn-color-woman {
        border-color: palevioletred;
        background-color: palevioletred;
    }

    .bullentin-board-wrapper {
        margin-bottom: 100px;
    }

    .bullentin-board-wrapper .date {
        margin-bottom: -10px;
    }

    .bullentin-board-wrapper button {
        margin-bottom: -20px;
        font-size: 18px;
        color: white;
        width: 80px;
        height: 40px;
        border-radius: 7px;
    }

    .text-wrapper {
        font-size: 20px;
        background-color: rgba(255,255,255,0.7);
        border-radius: 10px;
        box-shadow: 2px 2px 4px gray;
    }
    .text-wrapper p {
        text-align: left;
        word-break: break-all;
        max-width: 500px;
        padding: 30px;
    }

    /*  チャット  */

    .chat-history-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .chat-history-page-btn-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
    }

    .info-chat-room {
        font-size: 20px;
    }

    .chat-history-page-btn-wrapper p {
        margin-left: 30px;
        margin-right: 30px;
    }

    .chat-history-page-btn-wrapper button {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        color: white;
    }

    .chat-room-wrapper {
        font-size: 20px;
        width: 500px;
        background-color: white;
        box-shadow: 2px 2px 4px gray;
        margin-bottom: 20px;
        margin-left: 10px;
        margin-right: 10px;
        border-radius: 10px;
    }

    .chat-room-wrapper .padding {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }

    .chat-room-wrapper .flex {
        display: flex;
        align-items: center;
    }

    .chat-room-wrapper img {
        margin-right: 10px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }

    .chat-room-wrapper .chat-not-read-counter {
        margin-left: 10px;
    }

    .chat-room-wrapper button {
        font-size: 18px;
        color: white;
        margin-left: 15px;
        border-radius: 5px;
    }

    .chat-wrapper {
        border-radius: 20px;
        width: 800px;
        min-height: 500px;
        background-color: white;
        box-shadow: 2px 2px 4px gray;
    }
    .chat-wrapper .padding {
        padding: 20px;
    }

    .chat-wrapper .message-wrapper {
        margin-bottom: 0px;
    }

    .chat-wrapper .message-wrapper img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }

    .chat-wrapper .text-align-right {
        text-align: right;
    }

    .chat-wrapper .text-align-left {
        text-align: left;
    }

    .chat-wrapper .message-wrapper .text-1 {
        text-align: left;
        margin-top: 30px;
        color: white;
        padding: 10px;
        display: inline-block;
        box-sizing: border-box;
        max-width: 650px;
        word-break: break-all;
        box-shadow: 2px 2px 4px gray;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .chat-wrapper .message-wrapper .read {
        text-align: right;
        font-size: 12px;
        margin-bottom: -13px;
    }
    .chat-wrapper .message-wrapper .time {
        font-size: 12px;
    }

    .chat-wrapper .message-wrapper .text-2 {
        text-align: left;
        margin-top: 30px;
        padding: 10px;
        display: inline-block;
        box-sizing: border-box;
        max-width: 650px;
        word-break: break-all;
        box-shadow: 2px 2px 4px gray;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .chat-form-wrapper {
        border-top: solid 1px gray;
        width: 90%;
        position: fixed;
        bottom: 0px;
        left: 200px;
    }

    .chat-form-wrapper .chat-area-wrapper {
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .chat-area-wrapper textarea {
        font-size: 18px;
        width: 500px;
        margin-left: 20px;
    }

    .chat-area-wrapper button {
        color: white;
        font-size: 20px;
        border-radius: 5px;
    }

    .chat-area-wrapper div button {
        margin-left: 20px;
        margin-right: -5px;
    }

    /*  ユーザー検索  */

    .search-box-form {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }

    .search-box-form input {
        height: 30px;
        margin-right: 10px;
        font-size: 20px;
    }

    .search-box-form button {
        font-size: 20px;
    }

    .search-box-form select {
        text-align: center;
        height: 35px;
        width: 120px;
        margin-right: 10px;
        font-size: 20px;
    }

    .search-user-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .search_user_list_wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .search-user-wrapper .user-status-form {
        display: flex;
        flex-wrap: wrap;
    }

    .search-user-wrapper .button-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .search-user-wrapper .button-wrapper .margin {
        display: flex;
        margin-top: 50px;
        margin-left: 50px;
    }

    .search-user-wrapper .button-wrapper button {
        border-radius: 10px;
        font-size: 20px;
        color: white;
        width: 120px;
        height: 50px;
    }

    .search-user-wrapper .margin-top {
        text-align: center;
        margin-top: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .search-user-wrapper .page-search {
        font-size: 30px;
        margin-left: 30px;
        margin-right: 30px;
    }

    .search-user-wrapper .btn-change-page {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        color: white;
        border-radius: 50%;
        width: 50px;
        height: 50px;
    }

    .search-user-wrapper .button-wrapper .btn-favorite {
        margin-left: 40px;
        width: 200px;
    }

    .search-user-wrapper p {
        font-size: 17px;
    }

    .search-user-wrapper .user-status-form button {
        border-radius: 10px;
        margin: 20px;
        width: 200px;
        height: 330px;
    }

    .search-user-wrapper form button img {
        border-radius: 50%;
        width: 90px;
        height: 90px;
    }

    .search-user-wrapper .user-bullentin button {
        border-radius: 10px;
        font-size: 20px;
        color: white;
        width: 120px;
        height: 50px;
    }

    .search-user-wrapper .margin-top-bullentin {
        margin-top: 80px;
    }

    .search-user-wrapper .user-bullentin-wrapper {
        margin-bottom: 80px;
    }

    .user-bullentin-wrapper p {
        text-align: left;
        margin-bottom: 0px;
    }

    .search-user-wrapper .user-bullentin-text-wrapper {
        background-color: white;
        border-radius: 10px;
        width: 600px;
        box-shadow: 2px 2px 4px gray;
    }

    .user-bullentin-wrapper .padding {
        font-size: 20px;
        word-break: break-all;
        max-width: 580px;
        text-align: left;
        padding: 20px;
    }

    .detail-data-wrapper {
        border-radius: 20px;
        width: 800px;
        background-color: white;
        box-shadow: 2px 2px 4px gray;
    }

    .detail-data-wrapper .flex {
        display: flex;
        justify-content: center;
    }

    .detail-data-wrapper p {
        max-width: 750px;
        word-break: break-all;
        font-size: 20px;
    }

    .detail-data-wrapper img {
        border-radius: 50%;
        width: 200px;
        height: 200px;
    }

    .detail-data-wrapper .text-align {
        text-align: center;
    }

    .detail-data-wrapper .padding {
        display: flex;
        justify-content: center;
        text-align: left;
        padding-top: 50px;
        padding-bottom: 80px;
    }
    .detail-data-wrapper .button-wrapper-list {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .button-wrapper-list button {
        margin-left: 15px;
        margin-right: 15px;
        color: white;
        width: 120px;
        height: 50px;
        border-radius: 10px;
        font-size: 20px;
    }

    .button-wrapper-list .margin {
        margin-top: 50px;
    }

    .detail-data-wrapper .btn-return {
        margin-top: 50px;
        text-align: center;
    }

    .detail-data-wrapper .button-wrapper-list .flex-PC {
        display: flex;
    }

    .detail-data-wrapper .btn-return button {
        border-radius: 10px;
        font-size: 20px;
        width: 120px;
        height: 50px;
        color: white;
    }

    .user-list-wrapper {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .user-list-wrapper .flex-wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .list-data-wrapper {
        width: 500px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 2px 2px 4px gray;
        font-size: 20px;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 30px;
    }

    .list-data-wrapper .padding {
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .list-data-wrapper .flex {
        display: flex;
        align-items: center;
    }

    .list-data-wrapper img {
        margin-right: 10px;
        border-radius: 50%;
        width: 60px;
        height: 60px;
    }

    .list-data-wrapper button {
        margin-left: 15px;
        border-radius: 10px;
        font-size: 15px;
        color: white;
        width: 80px;
        height: 40px;
    }

    .list-page-btn-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .list-page-btn-wrapper .page-list {
        font-size: 30px;
        margin-left: 30px;
        margin-right: 30px;
    }

    .list-page-btn-wrapper .btn-change-page {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        color: white;
        border-radius: 50%;
        width: 50px;
        height: 50px;
    }

    .list-user-bullentin .user-bullentin-wrapper {
        margin-bottom: 50px;
    }
    .list-user-bullentin button {
        color: white;
        width: 120px;
        height: 50px;
        font-size: 20px;
        border-radius: 10px;
    }

    .list-user-bullentin .user-bullentin-text-wrapper {
        width: 600px;
        border-radius: 10px;
        background-color: white;
        box-shadow: 2px 2px 4px gray;
    }

    /*  設定  */
    .btn-wrapper {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 750px;
    }

    .btn-wrapper button {
        font-size: 25px;
        border-radius: 10px;
        width: 300px;
        height: 200px;
        margin: 30px;
    }

    .personal-data-wrapper {
        font-size: 20px;
        background-color: rgba(255,255,255,0.7);
        border-radius: 10px;
        width: 800px;
        box-shadow: 2px 2px 4px gray;
    }

    .personal-data-wrapper img {
        border-radius: 50%;
        width: 200px;
        height: 200px;
    }

    .personal-data-wrapper p {
        text-align: left;
        word-break: break-all;
        max-width: 750px;
    }

    .personal-data-wrapper button {
        margin-top: 20px;
        font-size: 20px;
        color: white;
        width: 120px;
        height: 50px;
        border-radius: 10px;
    }
    .personal-data-wrapper .padding {
        padding-top: 30px;
        padding-bottom: 60px;
    }

    .change-data-wrapper {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
        font-size: 20px;
        width: 800px;
        background-color: rgba(255,255,255,0.7);
        border-radius: 10px;
        box-shadow: 2px 2px 4px gray;
    }

    .change-data-wrapper .display-Phone-setting {
        display: none;
    }

    .change-data-wrapper label {
        margin-top: 0;
    }
    .change-data-wrapper table {
        width: 750px;
        height: 700px;
    }

    .change-data-wrapper .authentication select {
        margin-right: 50px;
    }

    .change-data-wrapper .margin {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .change-data-wrapper button {
        margin-left: 10px;
        margin-right: 10px;
        font-size: 20px;
        color: white;
        width: 70px;
        height: 40px;
        border-radius: 5px;
    }

    .change-data-wrapper form button {
        margin-top: 60px;
        font-size: 20px;
        color: white;
        width: 120px;
        height: 50px;
        border-radius: 10px;
    }

    .change-data-wrapper input {
        font-size: 20px;
        width: 400px;
    }

    .change-data-wrapper .change-address-form-wrapper {
        display: flex;
        margin-left: 30px;
    }

    .change-data-wrapper .change-address-2-PC {
        width: 200px;
        margin-left: 50px;
    }

    .change-data-wrapper select {
        text-align: center;
        font-size: 20px;
        width: 120px;
    }

    .change-data-wrapper .padding {
        padding-top: 40px;
        padding-bottom: 70px;
    }

    .change-password-wrapper {
        width: 750px;
        background-color: rgba(255,255,255,0.7);
        border-radius: 10px;
        box-shadow: 2px 2px 4px gray;
    }

    .change-password-wrapper .padding {
        padding-top: 40px;
        padding-bottom: 50px;
    }

    .change-password-wrapper input {
        margin-bottom: 20px;
        font-size: 20px;
        width: 500px;
        height: 30px;
    }

    .change-password-wrapper button {
        margin-top: 20px;
        font-size: 20px;
        color: white;
        width: 120px;
        height: 50px;
        border-radius: 10px;
    }

    .alert {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 20px;
        color: red;
    }

    @-moz-document url-prefix() {
        .bullentin-board-wrapper button {
            margin-bottom: -16px;
        }
    }
    _:lang(x)+_:-webkit-full-screen-document, .bullentin-board-wrapper button {
        margin-bottom: -16px;
    }
}