/*  スマホスタイル  */

@media screen and (max-width: 769px) {
    h1 {
        font-size: 7vw;
    }
    .form-wrapper {
        margin-top: 15vw;
        margin-bottom: 15vw;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .btn-pos {
        margin-top: 5vw;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        align-items: center;
    }

    button {
        margin-bottom: 5vw;
        cursor: pointer;
        font-size: 4vw;
        color: white;
        background-color: #0080ff;
        border-color: #0080ff;
        border-radius: 1.5vw;
        width: 80vw;
        height: 15vw;
    }

    .margin {
        margin-top: 10vw;
        margin-bottom: 10vw;
    }

    .margin-top {
        margin-top: 10vw;
    }

    .login_form {
        margin: 0 auto;
        display: flex;
        width: 80vw;
    }

    input {
        font-size: 5vw;
        width: 80vw;
        height: 8vw;
        margin-bottom: 5vw;
    }

    a {
        font-size: 3.5vw;
        text-decoration: none;
    }

    .alert {
        margin-top: 0vw;
        font-size: 5vw;
        color: red;
    }
}
