@charset "UTF-8";

/* ここから書く */
.space {
	width: 100%;
	height: 60px;
}

.top {
	margin-bottom: 8px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100px;
	background-color: #FA97C5;
	box-shadow: 0 5px 8px #C1C1C1;
}

.middle {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 100%;
	background-color: #F5F5F5;
}

.topRight-box {
	margin: 32px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 150px;
	height: 60px;
}

.bottom {
	width: 100%;
	height: 120px;
	background-color: #535455;
}


/*    リスト      */


.topRight-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 140px;
	height: 60px;
}

.middle-list {
	margin: 60px;
	display: flex;
	flex-wrap: wrap;
	justify-content: start;
	align-items: stretch;
}

.topLeft-item{
	margin-left: 22px;
	width: 162px;
	height: 60px;
	border-radius: 5px;
	background-color: #FFFFFF;
}

.topRight-item{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: #FFFFFF;
}

.middle-item{
	margin: 10px;
	padding: 110px;
	background-color: #FFFFFF;
	border-radius: 10px;
	box-shadow: 3px 3px 3px #D6D6D6;
}

