@charset "UTF-8";

/* ここから書く */

.contents {
	width: 100%;
	height: 1050px;
}

body {
	width: 100%;
	height: 100%;
}

.wrapper {
	width: 990px;
	height: 1050px;
}

/*    ヘッダー    */
.head_wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
}

.head_content {
	width: 990px;
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #FFFCFA;
}

.logo img {
	margin-left: 12px;
	width: 52px;
	height: 33px;
}

.menu ul{
	margin-right: 12px;
	display: flex;
	width: 230px;
	justify-content: space-between;
}

.menu a {
	font-size: 12px;
	text-decoration: none;
	color: black;
}


/*    メイン    */
.main_content {
	width: 100%;
	height: 90.1%;
	background-color: #FCF6F2;
}

h1 {
	font-size: 18px;
}

h2 {
	margin-bottom: 15px;
	display: flex;
	justify-content: center;
	width: 90px;
	border-left: solid 4px #5BA2DE;
	font-size: 13px;
}

.ownself h2 {
	border-left: solid 4px #5B5BE2;
	margin-bottom: 15px;
	width: 78px;
}

.title {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 135px;
}

.hero img {
	width: 100%;
	height: 370px;
	object-fit: cover;
}

.ownself_content {
	display: flex;
	justify-content: center;
	align-items: start;
	width: 100%;
	height: 52%;
}

.new_work {
	display: flex;
	flex-wrap: wrap;
	justify-content: start;
	align-items: start;
	width: 508px;
}

.new_work img {
	object-fit: cover;
	margin-right: 10px;
	margin-bottom: 8px;
	width: 155px;
	height: 155px;
}

.ownself {
	margin-left: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: start;
	align-items: start;
	width: 190px;
}

p {
	text-align: left;
	font-size: 12px;
	line-height: 16px;
}

/*    フッター    */
.copyright_box p {
	border: solid 1px #FFFFFF;
	padding-left: 29px;
	padding-right: 29px;
	padding-top: 7px;
	padding-bottom: 7px;
}

.foot_content {
	background-color: #FCF6F2;
	width: 100%;
	height: 104px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.copyright_box {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 148px;
	height: 46px;
	color: #FFFFFF;
	background-color: #7079E4;
}

small {
	font-size: 10px;
}

