<% var title = "TOP"; var description = "トップのdescription"; %> <% include
src/ejs/template/_head %>
<header class="head-border"></header>
<div class="wrapper">
    <main>
    <div class="main-head-wrapper">
        <div class="main-head-left-wrapper">
            <img class="main-head-left">
        </div>
        <img class="main-head-right">
    </div>
    <div class="main-middle-wrapper">
        <div class="side-menu-wrapper">
            <table class="side-menu-1">
                <tr>
                    <td><a href="#"><img class="main-middle-left-img1"></a></td>
                    <td><a href="#"><img class="main-middle-left-img2"></a></td>
                    <td><a href="#"><img class="main-middle-left-img3"></a></td>
                </tr>
                <tr>
                    <td><a href="#"><img class="main-middle-left-img4"></a></td>
                    <td><a href="#"><img class="main-middle-left-img5"></a></td>
                    <td><a href="#"><img class="main-middle-left-img6"></a></td>
                </tr>
                <tr>
                    <td><a href="#"><img class="main-middle-left-img7"></a></td>
                    <td><a href="#"><img class="main-middle-left-img8"></a></td>
                    <td><a href="#"><img class="main-middle-left-img9"></a></td>
                </tr>
                <tr>
                    <td><a href="#"><img class="main-middle-left-img10"></a></td>
                    <td><a href="#"><img class="main-middle-left-img11"></a></td>
                    <td><a href="#"><img class="main-middle-left-img12"></a></td>
                </tr>
            </table>
            <div class="border-solid1"></div>
            <div class="border-solid2"></div>
            <div class="border-solid3"></div>
            <div class="border-solid4"></div>
            <div class="border-dash1"></div>
            <div class="border-dash2"></div>
            <div class="border-dash3"></div>
            <div class="border-dash4"></div>
            <div class="border-dash5"></div>
            <div class="side-menu-2">
                <a href="#"><img class="main-middle-left-img13"></a>
                <a href="#"><img class="main-middle-left-img14"></a>
            </div>
        </div>
        <div class="main-menu-wrapper">
            <a href="#">
                <div class="box-size2"><div><img class="main-menu-top-img1"><br><div><img class="main-menu-middle-img1"><br>
                <span><p><img class="main-menu-bottom-img1"><br>シュリンプは人材採用にITに<br>組み込み、支援しております。</p>
                </div></div></div></span>
            </a>
            <a href="#">
                <div class="box-size2"><div><img class="main-menu-top-img2"><br><div><img class="main-menu-middle-img2"><br>
                <span><p><img class="main-menu-bottom-img2"><br>シュリンプが提供するサービ<br>ス一覧</p>
                </div></div></div></span>
            </a>
            <a href="#">
                <div class="box-size2"><div><img class="main-menu-top-img3"><br><div><img class="main-menu-middle-img3"><br>
                <span><p><img class="main-menu-bottom-img3"><br>シュリンプの最新ニュース、リ<br>リースした開発のご紹介</p>
                </div></div></div></span>
            </a>
            <a href="#">
                <div class="box-size2"><div><img class="main-menu-top-img4"><br><div><img class="main-menu-middle-img4"><br>
                <span><p><img class="main-menu-bottom-img4"><br>シュリンプは、やる気のある人<br>を常に募集しております！</p>
                </div></div></div></span>
            </a>
            <a href="#">
                <div class="box-size2"><div><img class="main-menu-top-img5"><br><div><img class="main-menu-middle-img5"><br>
                <span><p><img class="main-menu-bottom-img5"><br>様々な情報をFacebookでも発信<br>しております。</p>
                </div></div></div></span>
            </a>
            <a href="#">
                <div class="box-size2"><div><img class="main-menu-top-img6"><br><div><img class="main-menu-middle-img6"><br>
                <span><p><img class="main-menu-bottom-img6"><br>サービスに関するお問い合わせは<br>こちらよりお願いいたします。</p>
                </div></div></div></span>
            </a>
            <a href="#">
                <div class="box-size2"><div><img class="main-menu-top-img7"><br><div><img class="main-menu-middle-img7"><br>
                <span><p><img class="main-menu-bottom-img7"><br>医療、歯科、介護に特化した業<br>界No.1の求人紹介サイトです。</p>
                </div></div></div></span>
            </a>
            <a href="#">
                <div class="box-size2"><div><img class="main-menu-top-img8"><br><div><img class="main-menu-middle-img8"><br>
                <span><p><img class="main-menu-bottom-img8"><br>医療、歯科、介護のための新卒<br>採用サイトです。</p>
                </div></div></div></span>
            </a>
            <a href="#">
                <div class="box-size2"><div><img class="main-menu-top-img9"><br><div><img class="main-menu-middle-img9"><br>
                <span><p><img class="main-menu-bottom-img9"><br>人材募集をお求めのご担当者は<br>こちらから</p>
                </div></div></div></span>
            </a>
            <a href="#">
                <div class="box-size2"><div><img class="main-menu-top-img10"><br><div><img class="main-menu-middle-img10"><br>
                <span><p><img class="main-menu-bottom-img10"><br>シュリンプには無料転職相談を<br>ご用意しております。</p>
                </div></div></div></span>
            </a>
            <a href="#">
                <div class="box-size2"><div><img class="main-menu-top-img11"><br><div><img class="main-menu-middle-img11"><br>
                <span><p><img class="main-menu-bottom-img11"><br>医療、歯科、介護に特化した短<br>期アルバイトサービスです。</p>
                </div></div></div></span>
            </a>
            <a href="#">
                <div class="box-size2"><div><img class="main-menu-top-img12"><br><div><img class="main-menu-middle-img12"><br>
                <span><p><img class="main-menu-bottom-img12"><br>海外の医療、歯科、介護に特化<br>したお仕事を紹介します。</p>
                </div></div></div></span>
            </a>
        </div>
    </div>
    <div class="main-bottom-menu-wrapper">
        <ul>
            <li><a href="#"><img class="main-bottom-menu-img">ホーム</a></li>
            <li><a href="#"><img class="main-bottom-menu-img">会社概要</a></li>
            <li><a href="#"><img class="main-bottom-menu-img">採用情報</a></li>
            <li><a href="#"><img class="main-bottom-menu-img">サービスメニュー</a></li>
            <li><a href="#"><img class="main-bottom-menu-img">ニュースリリース</a></li>
            <li><a href="#"><img class="main-bottom-menu-img">プライバシポリシー</a></li>
            <li><a href="#"><img class="main-bottom-menu-img">サイトマップ</a></li>
            <li><a href="#"><img class="main-bottom-menu-img">お問い合わせ</a></li>
        </ul>
    </div>
    <div class="main-bottom">
        <img class="company-logo">
        <img class="privacy-mark">
    </div>
    <div class="footer">
        <p>CopyRight © shrimp All Right.</p>
    </div>
</main>
</div>
<% include src/ejs/template/_footer %>
