@charset "UTF-8";

@media screen and (max-width: 768px) {
  /* SP style */
	.contents {
		position: relative;
		width: 768px;
		height: 100%;
	}
	body {
		width: 768px;
		height: 100%;
	}

	h1 {
		letter-spacing: 1px;
		width: 750px;
		height: 100px;
		top: 34%;
		left: 25px;
		position: absolute;
		color: #ffffff;
		font-size: 91px;
	}
	h2 {
		font-size: 70px;
	}
	h3 {
		font-size: 40px;
	}


	/*   ホーム    */

	.home_content_wrapper {
		display: flex;
		align-items: dash;
		width: 768px;
		height: 100%;
	}

	.bg_size {
		width: 768px;
		height: 100%;
	}

	.home_background {
		width: 768px;
		height: 100%;
		object-fit: cover;
		object-position: 0% 0%;
	}

	.home_main {
		display: flex;
		justify-content: center;
		width: 768px;
		height: 630px;
	}

	.logo {
		display: none;
	}

	.menu_box .logo{
		display: block;
	}

	.menu .logo{
		background-color: rgb(200,200,200);
	}

	.menu_box .logo img {
		width: 60px;
		height: 40px;
	}

	.menu_button_design {
		width: 65px;
		height: 60px;
		position: absolute;
		top: 23px;
		right: 23px;
		display: flex;
		flex-wrap: wrap;
		align-items: start;
	}

	.border {
		border-radius: 20px;
		background-color: #ffffff;
		width: 65px;
		height: 6px;
		display: flex;
		flex-wrap: wrap;
	}

	#id_menu {
		position: absolute;
		top: 0px;
		right: 0px;
		width: 100%;
		height: 100%;
		z-index: 100;
	}

	#id_menu div {
		width: 65px;
		height: 50px;
		overflow: hidden;
		position: absolute;
		top: 23px;
		right: 23px;
	}

	#id_menu .menuopen{
		color: rgba(255,255,255,1);
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}

	#id_menu .menuclose{
		color: rgba(255,255,255,1);
		display: none;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}

	#id_menu ul{
		border-radius: 10px;
		background: rgba(255,255,255,1);
		width: 55%;
		position: absolute;
		top: 90px;
		right: 23px;
		display: none;
	}

	#id_menu li{
		border-radius: 10px;
		text-align: center;
		color: rgba(0,0,0,1);
		padding: 22px;
		border-bottom: 3px rgba(200,200,200,1) solid;
		color: gray;
		font-size: 25px;
	}

	#id_menu li:hover {
		color: #ffffff;
		border-radius: 10px;
		background-color: rgba(200,200,200,1);
	}

	#id_menu a {
		text-decoration: none;
	}

	#id_menu:target .menuopen{
		display: none;
	}

	#id_menu:target .menuclose{
		display: block;
	}

	#id_menu:target ul{
		display: block;
	}

	
	/* ABOUT */
	.about_content_wrapper {
		width: 768px;
		height: 2780px;
	}
	
	.page_title_content {
		margin-top: 160px;
	}

	.page_title {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 50px;
	}

	.about_main {
		width: 768px;
		display: flex;
		justify-content: center;
	}

	span {
		letter-spacing: 0.5px;
	}

	.top_sentence {
		line-height: 70px;
		letter-spacing: 1px;
		text-align: center;
		margin-left: 59px;
		margin-bottom: 50px;
		font-size: 40px;
		width: 650px;
		height: 20%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.border_content {
		width: 768px;
		height: 60px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.border_box {
		width: 200px;
		height: 10px;
		display: flex;
		justify-content: space-between;
	}

	.border_dash {
		width: 30px;
		height: 4px;
		background-color: #B48005;
	}

	.about_table {
		margin-top: 80px;
		width: 768px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.about_table tr {
		width: 768px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.about_table img {
		margin-bottom: 42px;
		border-radius: 20px;
		width: 680px;
		height: 465px;
		object-fit: cover;
	}

	.about_img3 {
		object-position: 0% 100%;
	}

	/* WORK */
	.blank_work_content {
		width: 768px;
		height: 20px;
	}

	.work_main .border_content {
		width: 768px;
		height: 0px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.work_content_wrapper {
		display: flex;
		width: 768px;
		height: 4000px;
		background-color: #EDF1F2;
	}

	.work_content_wrapper2 {
	}

	.work_main {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		width: 768px;
	}

	.work_table {
		letter-spacing: 2px;
		margin-top: 80px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		width: 650px;
		height: 450px;
	}

	.work_table h3 {
		margin-top: 70px;
		margin-bottom: 30px;
	}

	.work_table td {
		text-align: center;
	}

	.work_table p {
		margin-top: 10px;
		line-height: 45px;
		font-size: 33px;
		text-align: center;
	}

	.work_table img {
		width: 120px;
		height: 120px;
	}

	/*  BLOG  */
	.blog_content_wrapper {
		margin-top: 210px;
		width: 768px;
	}

	.blog_main {
		margin-bottom: 100px;
		width: 768px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}

	.blog_main table {
		margin-top: 90px;
		margin-bottom: 30px;
		width: 650px;
		height: 900px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: start;
	}

	.blog_main td > img {
		margin-bottom: 20px;
	}

	.blog_main .left td {
		margin-top: 20px;
		margin-bottom: 0px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}

	.blog_main .right td {
		margin-top: 20px;
		margin-bottom: 0px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}

	.blog_main .right {
		display: flex;
		flex-direction: column-reverse;
	}

	.blog_main .left img {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 650px;
		height: 385px;
	}

	.blog_main .right img {
		width: 650px;
		height: 385px;
	}

	.blog_sentence {
		font-size: 31px;
		line-height: 45px;
		width: 650px;
	}

	.blog_sentence p {
		letter-spacing: 1.8px;
		width: 580px;
		margin-bottom: 85px;
		margin-left: -72px;
	}

	.blog_sentence p > span {
		letter-spacing: 2.4px;
	}

	.blog_sentence p > span  > span {
		letter-spacing: 1px;
	}

	.blog_sentence h3{
		letter-spacing: 1px;
		line-height: 44px;
		font-size: 44px;
		margin-bottom: 40px;
	}

	.blog_main td a {
		width: 100%;
		color: #FFFFFF;
		background-color: #889EA5;
		font-size: 33px;
		text-decoration: none;
		padding-top: 27px;
		padding-bottom: 27px;
		padding-left: 232px;
		padding-right: 232px;
		border-radius: 8px;
		margin-bottom: 75px;
	}

	.margin_bottom {
		margin-bottom: 200px;
	}

	.blog_main td a:hover {
		opacity: 0.7;
	}
}

@media screen and (min-width: 769px) {
  /* PC style */
	br {
		display: none;
	}

	.contents {
		width: 100%;
		height: 100%;
	}

	body {
		width: 100%;
		height: 100%;
	}

	h1 {
		width: 740px;
		position: absolute;
		top: 46%;
		left: 595px;
		color: #ffffff;
		font-size: 94px;
	}

	h2 {
		font-size: 47px;
	}

	h3 {
		font-size: 28px;
	}

	.menu_button_design {
		display: none;
	}

	/*   ホーム    */
	.home_content_wrapper {
		width: 100%;
		height: 100%;
	}

	.home_background {
		position: relative;
		width: 1903px;
		height: 100%;
	}

	.home_head {
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 1903px;
		height: 102px;
	}

	.home_main {
		display: flex;
		justify-content: center;
		align-items: dash;
		width: 100%;
		height: 470px;
	}

	.head_box {
		width: 1903px;
		height: 77px;
		display: flex;
		justify-content: space-between;
		align-items: dash;
	}

	.logo {
		margin-left: 27px;
		width: 70px;
		height: 45px;
	}
	.logo img {
		opacity: 0.8;
		width: 100%;
		height: 100%;
	}

	.menu {
		margin-right: 60px;
		font-size: 22px;
		width: 510px;
		height: 60%;
	}

	.menu_box {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100%;
	}

	li img {
		display: none;
	}
	
	.menu a {
		font-size: 23px;
		color: #454545;
		text-decoration: none;
	}
	.menu_box a:hover {
		opacity: 0.5;
	}

	.title {
		display: flex;
		justify-content: center;
		align-items: center;	
		color: #ffffff;
	}


	/*   ABOUT    */
	.about_content_wrapper {
		width: 1903px;
		height: 1231px;
		margin-bottom: 197px;
	}

	.about_main {
		display: flex;
		justify-content: center;
		width: 1900px;
	}

	.page_title_content {
		margin-top: 200px;
		margin-bottom: 118px;
		width: 100%;
		height: 183px;
	}
	.page_title {
		margin-bottom: 50px;
		font-size: 22px;
		display: flex;
		justify-content: center;
		width: 100%;
	}

	.border_content {
		margin-top: 60px;
		width: 100%;
		height: 50px;
		display: flex;
		justify-content: center;
	}

	.border_box {
		width: 139px;
		display: flex;
		height: 20px;
		justify-content: space-between;
	}

	.border_dash {
		width: 19px;
		height: 6px;
		background-color: #B38007;
	}

	.top_sentence {
		font-size: 26px;
		width: 100%;
		height: 10%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.about_table {
		display: flex;
		justify-content: center;
		width: 1750px;
		height: 932px;
	}

	.about_table tr {
		display: flex;
		flex-wrap: wrap;
	}

	.size_td1 {
		margin-right: 60px;
		margin-bottom: 30px;
		width: 1000px;
	}

	.size_td2 {
		width: 650px;
		margin-bottom: 30px;
	}

	.size_td3 {
		margin-right: 60px;
		width: 650px;
	}

	.size_td4 {
		width: 1000px;
	}

	.about_img1 {
		border-radius: 15px;
		width: 1000px;
		height: 446px;
		object-fit: cover;
		object-position: 0% 0%;
	}

	.about_img2 {
		border-radius: 15px;
		width: 650px;
		height: 446px;
		object-fit: cover;
		object-position: 50% 0%;
	}

	.about_img3 {
		margin-right: 60px;
		border-radius: 15px;
		width: 650px;
		height: 446px;
		object-fit: cover;
		object-position: 0% 100%;
	}

	.about_img4 {
		border-radius: 15px;
		width: 1000px;
		height: 446px;
		object-fit: cover;
		object-position: 0% 0%;
	}

	.blank {
		width: 100%;
		height: 10%;
	}

	/*   WORK   */

	.blank_work_content {
		width: 1903px;
	}

	.work_content_wrapper .page_title_content {
		margin-bottom: 0px;
	}

	.work_content_wrapper2 {
		background-color: #EDF1F2;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		width: 1903px;
		height: 1173px;
	}

	.work_main {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: start;
		width: 90%;
		height: 650px;
	}

	.work_table {
		margin-top: 0px;
		display: flex;
		justify-content: space-between;
		width: 470px;
		height: 300px;
		letter-spacing: 0px;
	}

	.work_table span {
		letter-spacing: -0.4px;
	}

	.work_table span > span {
		letter-spacing: -0.1px;
		margin-left: -8px;
	}

	.work_table .size_td1 {
		text-align: center;
	}

	.work_table .size_td2 {
		text-align: center;
		padding-top: 50px;
		padding-bottom: 30px;
	}

	.work_table .size_td3 {
		
	}

	.work_table img {
		width: 83px;
		height: 83px;
	}

	.work_table {
		font-size: 22px;
	}

	.work_contents img {
		width: 80px;
		height: 80px;
	}

	.work_contents p {
		margin-top: 10px;
	}

	/*    ブログ    */

	.blog_content_wrapper {
		margin-top: 200px;
		width: 1903px;
	}

	.blog_main {
		margin-top: 20px;
		width: 1903px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}

	.blog_main table {
		margin-top: -50px;
		margin-bottom: 200px;
		width: 93%;
		height: 380px;
	}

	.blog_main .left .size_td1 {
		width: 550px;
		height: 380px;
		padding-right: 35px;
	}

	.blog_main .right .size_td1 {
		width: 550px;
		height: 380px;
		padding-top: 50px;
		padding-bottom: 50px;
		padding-left: 35px;
	}

	.blog_main .left .size_td2 {
		text-align: left;
		line-height: 60px;
		vertical-align: top;
		padding-top: 20px;
	}

	.blog_main .right .size_td2 {
		text-align: right;
		line-height: 60px;
		vertical-align: top;
		padding-top: 70px;
	}

	.blog_main .size_td2 p {
		margin-bottom: 60px;
	}

	.blog_main img {
		width: 550px;
		height: 380px;
	}

	.blank_blog {
		width: 100%;
		height: 40px;
	}

	.blog_sentence {
		letter-spacing: 1px;
		font-size: 22px;
		line-height: 0px;
	}

	.blog_main a {
		border-radius: 5px;
		color: #FFFFFF;
		background-color: #889EA5;
		padding-top: 13px;
		padding-bottom: 13px;
		padding-left: 33px;
		padding-right: 33px;
		font-size: 24px;
		text-decoration: none;
	}

	.blog_main a:hover {
		opacity: 0.7;
	}
}

