@charset "UTF-8";

/* clearfix用 */
.clearfix::after {
	content: '';
	display: block;
	clear: both;
}

/* ここから書く */

.top {
	margin: 0 auto;
	width: 400px;
	height: 100px;
}
.middle {
	margin: 0 auto;
	width: 400px;
	height: 250px;
}

.bottom {
	margin: 0 auto;
	width: 400px;
	height: 100px;
}

.box_1 {
	width: 400px;
	height: 100px;
	background-color: #7281D3;
}

.box_2 {
	width: 150px;
	height: 250px;
	background-color: #FAA0A0;
	float: left;
}

.box_3 {
	width: 250px;
	height: 250px;
	background-color: #A0CAFA;
	float: right;
}

.box_4 {
	width: 400px;
	height: 100px;
	background-color: #D3AE72;
}

/*      リスト       */
.list1 {
	position: absolute;
	top: 20px;
	left: 50%;
	width: 160px;
	height: 60px;
	padding: 5px;
	background-color: #FFFFFF;
}

.list1 li:first-child {
	width: 40px;
	height: 40px;
	background-color: #FFC66A;
	border: solid 5px #FFFFFF;
	box-sizing: content-box;
	float: left;
}

.item_1 {
	width: 40px;
	height: 40px;
	background-color: #FFC66A;
	border: solid 5px #FFFFFF;
	box-sizing: content-box;
	float: left;
}

.list2 {
	position: absolute;
	top: 9.5%;
	left: 47.4%;
	width: 250px;
	height: 250px;
	padding: 40px;
}

.list2 li:first-child {
	margin-bottom: 10px;
	width: 140px;
	height: 40px;
	background-color: #72CCD3;
	border: solid 5px #FFFFFF;
	box-sizing: content-box;
}

.item_2 {
	margin-bottom: 10px;
	width: 140px;
	height: 40px;
	background-color: #72CCD3;
	border: solid 5px #FFFFFF;
	box-sizing: content-box;
}


