@charset "UTF-8";

/* clearfixóp */
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}


/* Ç±Ç±Ç©ÇÁèëÇ≠*/
.contents {
	margin: 0 auto;
	width: 400px;
	height: 450;
}

.bgcolor1 {
	width: 400px;
	height: 100px;
	background-color: #7281D3;
}

.bgcolor2 {
	width: 150px;
	height: 250px;
	background-color: #FAA0A0;
	float: left;
}

.bgcolor3 {
	width: 250px;
	height: 250px;
	background-color: #A0CAFA;
	float: right;
}

.bgcolor4 {
	width: 400px;
	height: 100px;
	background-color: #D3AE72;
}


