@charset "UTF-8";

/* Ç±Ç±Ç©ÇÁèëÇ≠ */
.top {
	margin: 0 auto;
	width: 400px;
}

.middle {
	margin: 0 auto;
	width: 400px;
}

.bottom {
	margin: 0 auto;
	width: 400px;
}

.box-top {
	width: 400px;
	height: 100px;
	background-color: #7281D3;
}

.box-middle-left {
	width: 150px;
	height: 250px;
	background-color: #FAA0A0;
	float: left;
}

.box-middle-right {
	width: 100px;
	height: 150px;
	background-color: #DE94D9;
	float: right;
}
.box-middle-middle-top {
	width: 150px;
	height: 50px;
	background-color: #AEB3CE;
	float: left;
}

.box-middle-middle-middle {
	width: 150px;
	height: 100px;
	background-color: #72CCD3;
	float: left;
}

.box-middle-middle-bottom {
	width: 250px;
	height: 100px;
	background-color: #A0CAFA;
	float: left;
}


.box-bottom {
	display: flex;
	width: 400px;
	height: 100px;
	background-color: #D3AE72;
}


